*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}
:root {
	--primary-color: #0a58ff;
	--primary-color-dark: #0041cc;
	--secondary-color: #ef5d60;
	--background-color: linear-gradient(
		to bottom right,
		#bdcff2 0%,
		#6d9efe 100%
	);

	--secondary-color-dark: #ed4548;
	--font-primary: 'Quicksand', sans-serif;
	--font-logo: 'Dancing Script', cursive;
}
html {
	font-size: 62.5%;
	background: var(--background-color);
}
body {
	min-height: 100vh;
	height: 100%;
}
label {
	display: block;
	height: 100%;
	width: 100%;
}
