*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}
:root {
	--primary-color: #0a58ff;
	--primary-color-dark: #0041cc;
	--secondary-color: #ef5d60;
	--background-color: #0a58ff40;
	--secondary-color-dark: #ed4548;
	--font-primary: 'Quicksand', sans-serif;
	--font-logo: 'Dancing Script', cursive;
}
html {
	font-size: 62.5%;
	background-color: var(--background-color);
}
label {
	display: block;
	height: 100%;
	width: 100%;
}
